.element-player-detail {
  align-items: center;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  position: relative;
}

.element-player-detail .class-13 {
  margin-right: unset !important;
}

.element-player-detail .instance-node-11 {
  align-self: stretch !important;
  flex: 0 0 auto !important;
  width: 100% !important;
}

.element-player-detail .player-detail-header {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 0px 0px;
  position: relative;
  width: 100%;
}

.element-player-detail .player-detail-header-2 {
  background-color: #dcc91e;
  display: flex;
  flex: 1;
  flex-grow: 1;
  justify-content: center;
  position: relative;
}

.element-player-detail .player-detail-header-3 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  max-width: 500px;
  padding: 32px 0px 0px;
  position: relative;
}

.element-player-detail .large-text-container {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 24px;
  max-width: 1140px;
  padding: 0px 0px 60px;
  position: relative;
  width: 100%;
}

.element-player-detail .large-text-container-2 {
  color: #000000;
  font-family: var(--theme-inter-bold-80-font-family);
  font-size: var(--theme-inter-bold-80-font-size);
  font-style: var(--theme-inter-bold-80-font-style);
  font-weight: var(--theme-inter-bold-80-font-weight);
  height: 80px;
  letter-spacing: var(--theme-inter-bold-80-letter-spacing);
  line-height: var(--theme-inter-bold-80-line-height);
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: 46.61px;
}

.element-player-detail .large-text-container-3 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
}

.element-player-detail .large-text-container-wrapper {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.element-player-detail .large-text-container-4 {
  color: #000000;
  font-family: var(--theme-inter-regular-26-75-font-family);
  font-size: var(--theme-inter-regular-26-75-font-size);
  font-style: var(--theme-inter-regular-26-75-font-style);
  font-weight: var(--theme-inter-regular-26-75-font-weight);
  letter-spacing: var(--theme-inter-regular-26-75-letter-spacing);
  line-height: var(--theme-inter-regular-26-75-line-height);
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.element-player-detail .large-text-container-5 {
  color: #000000;
  font-family: var(--theme-inter-bold-27-88-font-family);
  font-size: var(--theme-inter-bold-27-88-font-size);
  font-style: var(--theme-inter-bold-27-88-font-style);
  font-weight: var(--theme-inter-bold-27-88-font-weight);
  letter-spacing: var(--theme-inter-bold-27-88-letter-spacing);
  line-height: var(--theme-inter-bold-27-88-line-height);
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.element-player-detail .small-text-container {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 0px 0px;
  max-width: 600px;
  padding: 0px 0px 30px;
  position: relative;
}

.element-player-detail .small-text-container-2 {
  align-items: center;
  display: flex;
  flex: 1;
  flex-grow: 1;
  flex-wrap: wrap;
  gap: 0px 0px;
  position: relative;
}

.element-player-detail .small-text-cell {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 6px;
  height: 37px;
  min-width: 270px;
  padding: 8px 0px;
  position: relative;
}

.element-player-detail .small-text-cell-key {
  color: #141212;
  font-family: var(--theme-inter-regular-11-05-font-family);
  font-size: var(--theme-inter-regular-11-05-font-size);
  font-style: var(--theme-inter-regular-11-05-font-style);
  font-weight: var(--theme-inter-regular-11-05-font-weight);
  letter-spacing: var(--theme-inter-regular-11-05-letter-spacing);
  line-height: var(--theme-inter-regular-11-05-line-height);
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.element-player-detail .small-text-cell-2 {
  color: #141212;
  font-family: var(--theme-inter-bold-12-03-font-family);
  font-size: var(--theme-inter-bold-12-03-font-size);
  font-style: var(--theme-inter-bold-12-03-font-style);
  font-weight: var(--theme-inter-bold-12-03-font-weight);
  letter-spacing: var(--theme-inter-bold-12-03-letter-spacing);
  line-height: var(--theme-inter-bold-12-03-line-height);
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.element-player-detail .de-png {
  background-image: url(../../../static/img/flagicon-2.png);
  background-position: 50% 50%;
  background-size: cover;
  border: 1px solid;
  border-color: var(--themegallery);
  height: 16px;
  position: relative;
  width: 20.66px;
}

.element-player-detail .small-text-cell-3 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 6px;
  height: 37px;
  min-width: 270px;
  padding: 8px 0px;
  position: relative;
}

.element-player-detail .small-text-cell-4 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 6px;
  height: 37px;
  min-width: 270px;
  padding: 8px 0px;
  position: relative;
}

.element-player-detail .small-text-cell-5 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 6px;
  height: 37px;
  min-width: 270px;
  padding: 8px 0px;
  position: relative;
}

.element-player-detail .small-text-cell-6 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 6px;
  height: 37px;
  min-width: 270px;
  padding: 8px 0px;
  position: relative;
}

.element-player-detail .small-text-cell-7 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 6px;
  height: 37px;
  min-width: 270px;
  padding: 8px 0px;
  position: relative;
}

.element-player-detail .player-detail-header-4 {
  align-items: flex-end;
  display: inline-flex;
  flex: 0 0 auto;
  position: relative;
}

.element-player-detail .player-detail-2 {
  align-self: stretch;
  min-height: 120px;
  position: relative;
  width: 232px;
}

.element-player-detail .player-detail-3 {
  align-items: flex-start;
  align-self: stretch;
  display: inline-flex;
  flex: 0 0 auto;
  justify-content: flex-end;
  margin-left: -120px;
  padding: 25px 0px;
  position: relative;
}

.element-player-detail .player-detail-4 {
  height: 134px;
  object-fit: cover;
  position: relative;
  width: 120px;
}

.element-player-detail .player-detail-5 {
  align-items: flex-start;
  align-self: stretch;
  display: inline-flex;
  flex: 0 0 auto;
  padding: 25px 0px;
  position: relative;
}

.element-player-detail .player-detail-6 {
  align-self: stretch;
  margin-left: -80px;
  position: relative;
  width: 232px;
}

.element-player-detail .page-content-10 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 30px;
  position: relative;
  width: 100%;
}

.element-player-detail .page-content-section {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.element-player-detail .page-content-11 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  padding: 0px 32px;
  position: relative;
  width: 100%;
}

.element-player-detail .page-content-12 {
  color: var(--themeswamp);
  flex: 1;
  font-family: var(--theme-inter-bold-27-63-upper-font-family);
  font-size: var(--theme-inter-bold-27-63-upper-font-size);
  font-style: var(--theme-inter-bold-27-63-upper-font-style);
  font-weight: var(--theme-inter-bold-27-63-upper-font-weight);
  letter-spacing: var(--theme-inter-bold-27-63-upper-letter-spacing);
  line-height: var(--theme-inter-bold-27-63-upper-line-height);
  margin-top: -1.00px;
  position: relative;
  text-align: center;
}

.element-player-detail .club-stats {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  position: relative;
  width: 100%;
}

.element-player-detail .club-stats-container {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  max-width: 1140px;
  position: relative;
}

.element-player-detail .club-stats-content {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 5px 10px;
  justify-content: center;
  padding: 20px 0px;
  position: relative;
  width: 100%;
}

.element-player-detail .stat-cell-instance {
  flex: 1 !important;
  flex-grow: 1 !important;
  min-width: 300px !important;
  width: unset !important;
}

.element-player-detail .page-content-section-2 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.element-player-detail .gameday-wrapper {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.element-player-detail .gameday-2 {
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.element-player-detail .gameday-header-2 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.element-player-detail .gameday-header-date-2 {
  color: var(--themeouter-space);
  font-family: "Inter", Helvetica;
  font-size: 13.9px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 20px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.element-player-detail .text-wrapper-95 {
  font-family: var(--theme-inter-bold-13-89-font-family);
  font-size: var(--theme-inter-bold-13-89-font-size);
  font-style: var(--theme-inter-bold-13-89-font-style);
  font-weight: var(--theme-inter-bold-13-89-font-weight);
  letter-spacing: var(--theme-inter-bold-13-89-letter-spacing);
  line-height: var(--theme-inter-bold-13-89-line-height);
}

.element-player-detail .text-wrapper-96 {
  color: #34383c;
  font-family: var(--theme-inter-regular-13-89-font-family);
  font-size: var(--theme-inter-regular-13-89-font-size);
  font-style: var(--theme-inter-regular-13-89-font-style);
  font-weight: var(--theme-inter-regular-13-89-font-weight);
  letter-spacing: var(--theme-inter-regular-13-89-letter-spacing);
  line-height: var(--theme-inter-regular-13-89-line-height);
}

.element-player-detail .gameday-header-time-2 {
  color: var(--themeouter-space);
  font-family: "Inter", Helvetica;
  font-size: 13.7px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 20px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.element-player-detail .text-wrapper-97 {
  font-family: var(--theme-inter-bold-13-67-font-family);
  font-size: var(--theme-inter-bold-13-67-font-size);
  font-style: var(--theme-inter-bold-13-67-font-style);
  font-weight: var(--theme-inter-bold-13-67-font-weight);
  letter-spacing: var(--theme-inter-bold-13-67-letter-spacing);
  line-height: var(--theme-inter-bold-13-67-line-height);
}

.element-player-detail .text-wrapper-98 {
  color: #34383c;
  font-family: var(--theme-inter-regular-13-67-font-family);
  font-size: var(--theme-inter-regular-13-67-font-size);
  font-style: var(--theme-inter-regular-13-67-font-style);
  font-weight: var(--theme-inter-regular-13-67-font-weight);
  letter-spacing: var(--theme-inter-regular-13-67-letter-spacing);
  line-height: var(--theme-inter-regular-13-67-line-height);
}

.element-player-detail .class-14 {
  margin-left: unset !important;
  margin-right: unset !important;
}

.element-player-detail .gameday-3 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.element-player-detail .action-button-wrapper {
  align-items: flex-start;
  display: flex;
  height: 48px;
  justify-content: center;
  max-width: 180px;
  position: relative;
  width: 180px;
}

.element-player-detail .action-button-3 {
  align-items: center;
  align-self: stretch;
  background-color: #000000;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  padding: 0px 16px;
  position: relative;
}

.element-player-detail .button-title-3 {
  align-self: stretch;
  color: var(--themewhite);
  flex: 1;
  font-family: var(--theme-inter-bold-11-38-upper-font-family);
  font-size: var(--theme-inter-bold-11-38-upper-font-size);
  font-style: var(--theme-inter-bold-11-38-upper-font-style);
  font-weight: var(--theme-inter-bold-11-38-upper-font-weight);
  letter-spacing: var(--theme-inter-bold-11-38-upper-letter-spacing);
  line-height: var(--theme-inter-bold-11-38-upper-line-height);
  margin-top: -1.00px;
  position: relative;
  text-align: center;
}

.element-player-detail .news-3 {
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  position: relative;
  width: 100%;
}

.element-player-detail .news-4 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 25px;
  max-width: 1200px;
  position: relative;
}

.element-player-detail .news-container-2 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  position: relative;
  width: 100%;
}

.element-player-detail .page-content-13 {
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  position: relative;
  width: 100%;
}

.element-player-detail .page-content-14 {
  color: var(--themeswamp);
  flex: 1;
  margin-top: -1.00px;
  position: relative;
}

.element-player-detail .news-container-grid-3 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 20px 20px;
  position: relative;
  width: 100%;
}

.element-player-detail .class-15 {
  margin-right: -34.00px !important;
}

.element-player-detail .action-button-instance-wrapper {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  max-width: 180px;
  position: relative;
  width: 180px;
}

.element-player-detail .action-button-4 {
  align-self: unset !important;
  height: 48px !important;
}

.element-player-detail .action-button-5 {
  flex: 0 0 auto !important;
}

.element-player-detail .news-container-3 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  position: relative;
  width: 100%;
}

.element-player-detail .title-7 {
  color: var(--themeswamp);
  flex: 1;
  font-family: var(--theme-inter-bold-16-03-upper-font-family);
  font-size: var(--theme-inter-bold-16-03-upper-font-size);
  font-style: var(--theme-inter-bold-16-03-upper-font-style);
  font-weight: var(--theme-inter-bold-16-03-upper-font-weight);
  letter-spacing: var(--theme-inter-bold-16-03-upper-letter-spacing);
  line-height: var(--theme-inter-bold-16-03-upper-line-height);
  margin-top: -1.00px;
  position: relative;
}

.element-player-detail .news-container-grid-4 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 20px 20px;
  position: relative;
  width: 100%;
}

.element-player-detail .footer-25 {
  align-self: stretch !important;
  background-color: transparent !important;
  flex: 0 0 auto !important;
  width: 100% !important;
}

.element-player-detail .class-16 {
  margin-left: -324px !important;
}
