:root {
  --bg-alt: orange;
  --bg-odd: #ffffff;
  --bg-even: #ffffff;
  --text-light: #000000;
  --text-dark: #333333;
  --font-family: "Inter", Helvetica, sans-serif;

  --gap-sm: 8px;
  --gap-md: 12px;
  --gap-lg: 16px;

  --fs-sm: 12px;
  --fw-bold: 700;
}

.element-table-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-alt);
}

.league-table-wrapper {
  width: 100%;
  max-width: 1140px;
  padding: var(--gap-lg) 0;
}

.table {
  width: 100%;
}

.table-header,
.table-row {
  display: flex;
  /* align-items: center; */
  width: 100%;
}

.table-header {
  background-color: var(--bg-alt);
  padding: var(--gap-sm) var(--gap-md);
  font-family: var(--font-family);
  font-size: 0.65rem;
  font-weight: var(--fw-bold);
  color: var(--text-light);
}

.table-row {
  padding: var(--gap-md);
  font-family: var(--font-family);
  font-size: 0.65rem;
  color: var(--text-dark);
  cursor: pointer;
}

.table-row:nth-child(odd) {
  background-color: var(--bg-odd);
}

.table-row:nth-child(even) {
  background-color: var(--bg-even);
}

.table-cell {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--gap-md);
  text-overflow: ellipsis;
  overflow: hidden;
}

.table-cell2 {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--gap-md);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.table-cell--img {
  flex: 0 0 auto;
  width: 40px;
  padding: 0;
  justify-content: center;
}

.table-cell--number {
  justify-content: flex-end;
}

.team-name {
  white-space: normal;
  word-break: break-word;
  line-height: 1.2;
}

.loading-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: var(--gap-lg) 0;
}

/* conditional stripes */
.with-blue .table-row:nth-child(-n+3) .table-cell:first-child {
  border-left: 4px solid orange;
}

.table-row:nth-last-child(-n+3) .table-cell:first-child {
  border-left: 4px solid rgb(243, 125, 125);
}

/* Only apply flex: 2 to the team column on mobile */
@media (max-width: 500px) {
  .table-cell--team-mobile {
    flex: 4;
    overflow: hidden;
    text-overflow: ellipsis;
  }

   .img-mobile {
    flex: 2;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .rank-mobile {
    flex: 2;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.diff-mobile {
    flex: 3;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .nil-mobile {
    flex: 0.2;
    overflow: hidden;
    text-overflow: ellipsis;
  }


  .tb-footer {
    background-color: #ffffff;
    margin: 14px;
    font-size: 0.8rem;
    font-family: "Inter", Helvetica, sans-serif;

  }
